html {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
}

.container {
width: 400px;
height: 600px;
display: flex;
flex-direction: column;
border-style: solid;
border-width: 1px;
background-color: rgba(22, 22, 22, 0.582);
}
.screen-container {
    height: 160px;
    border-style: solid;
    border-width: 1px;
    width: auto;
    margin: 10px;
    display: flex;
    justify-content: right;
    align-items: start;
    padding: 20px;
    background-color: #f4f8e6;
}
.screen {
    font-size: min(20px,40px) ;
    margin: 0;
}
.lower-panel {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}
.buttons {
    width: 25%;
    height: 25%;
}
.buttons {
    background-color: green;
}
.number {
background-color: rgb(184, 169, 169);
}
